@import url(https://fonts.googleapis.com/css?family=Courier+Prime:regular,italic,700,700italic);

@font-face {
  font-family: "heliosextblackc";
  src: url("/fonts/heliosextblackc.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "digital";
  src: url("/fonts/DigitalPixelV124-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "5by7";
  src: url("/fonts/5by7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GruntGrotesk-Bold";
  src: url("/fonts/GruntGrotesk-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    #ffe500 0%,
    #d70000 44.95%,
    #170000 92.06%
  );
  color: #fff;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  height: max-content;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}
.top {
  position: relative;
}

.content {
  position: relative;
  margin: 0 auto;
  max-width: 620px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 900;
}

.content h1 {
  font-weight: 900;
  margin-bottom: 10px;
  font-family: "heliosextblackc";
}

.content p {
  font-family: "GruntGrotesk-Bold";
}

.btn-container {
  position: relative;
  margin-bottom: 60px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 105px;
  border-radius: 50px;
  color: #fff;
  font-family: "5by7";
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  border: 1px solid rgba(255, 67, 26, 0.2);
  background: linear-gradient(180deg, #f5a814 0%, #ffe500 100%);
  box-shadow: 3px 4px 24px 0 rgba(253, 236, 191, 0.67),
    0 0 15px 0 rgba(255, 67, 26, 0.4) inset,
    2px 4px 10px 0 rgba(255, 201, 61, 0.15);
  animation: pulse 1.8s infinite;
}

.btn span {
  font-size: 14px;
  font-weight: 400;
}

.title {
  font-family: "Digital";
  text-transform: uppercase;
}

.description {
  font-family: "Courier Prime", Courier, monospace;
}

.paymentsWrap {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.certsWrap {
  background-color: #000;
  padding: 10px 5%;
}

.itemsWrap {
  border: 11px solid #ff431a;
  border-radius: 52px;
  background: linear-gradient(180deg, #170000 0%, #dc1e00 100%);
  box-shadow: 3px 4px 24px 0 #971401, 0 0 20px 0 rgba(146, 31, 5, 0.6) inset,
    2px 4px 10px 0 rgba(255, 201, 61, 0.15);
}

.itemWrap {
  display: flex;
  gap: 18px;
}

.wrap {
  display: flex;
  gap: 30px;
}

.left_chicken {
  animation: jump 2s ease-in-out forwards;
  opacity: 0;
}

.left_t_chicken {
  z-index: -1;
  width: 95px;
  position: absolute;
  left: 12%;
  top: 10%;
}

@media (min-width: 768px) {
  .btn-container-mobile {
    display: none;
  }

  .btn-container-desktop {
    display: flex;
    justify-content: center;
  }

  .mob_chicken {
    display: none;
  }

  .top-egg,
  .top-coin-mobile1,
  .top-coin-mobile2 {
    display: none;
    /* animation: jump 1s infinite ease-in-out; */
  }

  .top-coin {
    top: 33px;
    right: 20%;
    /* animation: spin 1s infinite ease-in-out; */
  }

  .title-egg {
    position: absolute;
    width: 13%;
    height: auto;
    top: 0;
    right: 0;
  }

  .button-coin {
    position: absolute;
    width: 7%;
    left: 60%;
  }

  .items-egg {
    position: absolute;
    bottom: 5%;
    right: 20%;
    width: 10%;
  }

  .items-egg2 {
    position: absolute;
    top: -50%;
    left: 10%;
    width: 10%;
  }

  .body-bottom-coin-left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    height: 65%;
  }

  .body-bottom-coin-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 65%;
    z-index: -10;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 90%;
    z-index: -1;
  }

  .content {
    padding-top: 120px;
    margin-bottom: 5%;
  }

  .titleWrap {
    position: relative;
  }

  .content h1 {
    font-size: 48px;
    font-family: "heliosextblackc";
  }

  .content p {
    font-size: 36px;
    font-family: "GruntGrotesk-Bold";
  }

  .btn {
    width: 400px;
    padding: 30px 95px;
    font-size: 36px;
    font-family: "5by7";
  }

  .left_chicken {
    z-index: -1;
    width: 300px;
    position: absolute;
    left: 0;
    top: -80%;
    animation: jump 2s ease-in-out forwards;
    opacity: 0;
  }

  .left_t_chicken {
    z-index: -1;
    width: 95px;
    position: absolute;
    left: 16%;
    top: 10%;
  }

  .right_chicken {
    z-index: -1;
    width: 260px;
    position: absolute;
    right: 5%;
    top: -100%;
    animation: jump 2s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }

  .right_t_chicken {
    z-index: -1;
    width: 190px;
    position: absolute;
    right: 5%;
    top: 0;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .itemsWrap {
    position: relative;
    z-index: 2;
    display: flex;
    align-self: center;
    gap: 15px;
    max-width: 1300px;
    margin: 0 2%;
    padding: 40px 30px;
    border: 11px solid #ff431a;
    border-radius: 76px;
    background: linear-gradient(180deg, #170000 0%, #dc1e00 100%);
    box-shadow: 3px 4px 24px 0 rgba(253, 236, 191, 0.67),
      0 0 20px 0 rgba(255, 67, 26, 0.6) inset,
      2px 4px 10px 0 rgba(255, 201, 61, 0.15);
  }

  .itemWrap {
    flex: 1;
  }

  .itemWrap img {
    height: 40px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 900;
    font-family: "Digital";
    text-transform: uppercase;
    text-wrap: nowrap;
  }

  .description {
    font-size: 16px;
    font-weight: 500;
    font-family: "Courier Prime", Courier, monospace;
  }

  .paymentsWrap {
    padding: 14px 0 0;
  }

  .body-bottom-coin-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .left_chicken {
    width: 35%;
  }

  .left_t_chicken {
    width: 11%;
  }

  .right_chicken {
    width: 30%;
  }

  .right_t_chicken {
    width: 22.5%;
  }

  .body-bottom-coin-left {
    z-index: -10;
  }

  .body-bottom-coin-right {
    height: 90%;
  }

  .itemsWrap {
    gap: 45px;
    margin: 0 1%;
    padding: 30px 50px;
  }

  .itemWrap:first-child {
   padding-left: 10px;
  }

  .itemWrap img {
    height: 74px;
  }
}

@media (max-width: 768px) {
  body {
    background: linear-gradient(
      180deg,
      #ffe500 0%,
      #d70000 30.95%,
      #170000 62.06%
    );
  }

  .left_t_chicken {
    display: none;
  }

  .left_chicken {
    position: absolute;
    top: 165px;
    left: -5%;
    width: 80%;
    z-index: -1;
  }

  .right_t_chicken {
    display: none;
  }

  .right_chicken {
    position: absolute;
    bottom: 45%;
    right: 0;
    width: 25%;
    z-index: -1;
  }

  .itemsWrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
  }

  .container {
    position: relative;
    width: 90%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .content {
    position: relative;
    z-index: 1;
    padding-top: 20%;
  }

  .content h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .content p {
    padding: 30px;
    font-size: 24px;
  }

  .mob_chicken {
    max-width: 100%;
    /* animation: jump 1s infinite ease-in-out; */
  }

  .top {
    flex-shrink: 0;
    height: calc(100vh - 50px);
  }

  .bottom {
    display: flex;
    flex-direction: column-reverse;
  }

  .buttonWrap {
    position: absolute;
    bottom: 100%;
    width: 100%;
  }

  .btn-container {
    margin: 0 5%;
  }

  .btn {
    box-sizing: border-box;
    height: 80px;
    padding: 30px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
  }

  .itemWrap {
    gap: 30px;
  }

  .itemWrap img {
    flex-shrink: 0;
    width: 54px;
    height: 74px;
  }
  .top-egg {
    display: block;
    position: absolute;
    top: -40px;
    right: 9px;
    max-width: 100%;
    height: auto;
    /* animation: jump 1s infinite; */
  }

  .top-coin-mobile1 {
    position: absolute;
    top: -5px;
    left: -5px;
  }

  .top-coin-mobile2 {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 15%;
  }

  .body-bottom-coin-left {
    display: none;
  }

  .body-bottom-coin-right {
    display: none;
  }
  .body-bottom-coin-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
  .body-bottom-coin-mobile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .paymentsWrap {
    gap: 20px;
  }

  .paymentsWrap img {
    height: 50px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}
